@import "_variables.scss";

@mixin btnMixin($backgroundColor:'') {
  background-color: $backgroundColor;
  outline: none;
  border: none;
  text-transform: lowercase;
  padding: .5rem 1rem;
  color: $bgColor;
  border-radius: .3rem;
  box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  cursor: pointer;

  @media(max-width: 426px) {
    font-size: 1.2rem;
    padding: .3rem .8rem;
  }

}
